  body {
    font-family: "Vesper Libre", serif;
    color:#1a1a1a;
    line-height: 1.5;
    margin: 0;
  }

  header, footer {
    background-color: #000;
    color:#fff;
    text-align: center;
  }

  main {
    padding:20px;
  }

  #logo {
    width:100px;
    padding-top: 8px;
  }

  #news {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size:0.85rem;
    display: inline;
    border-bottom: solid 2px;
    border-color: #ff3530;
  }

  h1 {
    font-family: "Vesper Libre", serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }

  #author {
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
    margin-bottom: 0;
  }

  #figure {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 0em;
    margin-right: 0em;
  }

  img {
    width: 100%;
  }

  figcaption {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color:#757575;
    font-style: italic;
  }

  #title03 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a:link{
    color: #1a1a1a;
    text-decoration: underline;

  }
  a:hover{
    text-decoration:none;
    color:#ff3530;
  }
